<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{titulo}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Series</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item-sliding *ngFor="let series of listaSeries">
      <ion-item lines="full" (click)="exibirserie(series)">
        <ion-thumbnail slot="start">
          <img
             [src]="series.cartaz"
             />
        </ion-thumbnail>

        <ion-label class="ion-text-wrap">
          <div>
            <h1>{{series.nome}}</h1>
            <p>{{series.lancamento}} - {{series.duracao}}</p>
            <ion-badge color="light" *ngFor="let genero of series.generos">
              {{genero}}
            </ion-badge>

          </div>
        </ion-label>

        <ion-chip color="success" outline>
          <ion-label>{{series.classificacao}}%</ion-label>
        </ion-chip>
      </ion-item>

      <ion-item-options side="start">
        <ion-item-option color="laranja"(click)="exibirAlertaFavorito()" >
          <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-item-option>
      </ion-item-options>


    </ion-item-sliding>
  </ion-list>

 </ion-content>
